export OS_USERNAME=bioinfo
export OS_PASSWORD=XXXX
export OS_PROJECT_NAME=bioinfo
export OS_USERID=d26da77dc8d8cdcb4954783d4671eed31b18d30a0c810e
export OS_PROJECT_ID=68adf316ab0e

export OS_PROJECT_DOMAIN_NAME=Users
export OS_USER_DOMAIN_NAME=Users
export OS_AUTH_URL=http://controller:35357/v3
export OS_IDENTITY_API_VERSION=3
export OS_IMAGE_API_VERSION=2
export OS_NETWORK_URL=http://controller.genouest.org:9696
export OS_COMPUTE_URL=http://controller.genouest.org:8774/v2.1/
export OS_CINDER_URL=http://controller:8776/v2/
export OS_SHARE_URL=https://controller:8786/v2/

